# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local data and generated outputs

# Keep folder placeholders
!processed_data/.gitkeep

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# OS
.DS_Store
Thumbs.db
